.input_width
{
    width:220px !important;
}
#txt_add_edit_agency_name
{
    border:none;
    outline:none;
    background:none;
}
.Asterik
{
    color:red;
}
#add_edit_agency_contact_table
{
    table-layout: fixed;
    margin-top: -17px !important;
}
#add_edit_agency_contact_table td
{

    color: gray;
    font-size: 12px !important;
    font-family: Helvetica, Arial, sans-serif;
}
#add_edit_btn
{
    width:100px !important;
    height:30px !important;
    float: right;
}
#create_ext_ro_modal_header
{
    border-top: none !important;
}
.center {
    position: absolute;
    top:50%;
    left:50%;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height:60px;
}
